<li class="book-item">
  <strong>Title:</strong> <%= link_to book.title, book %><br>
  <strong>Author:</strong> <%= book.author %><br>
  <strong>Genre:</strong> <%= book.genre %><br>
  <strong>Published Date:</strong> <%= book.published_date %><br>
</li>
